/* Font Imports */
@font-face {
    font-family: 'HeirofLightFont';
    src: local('HeirofLightFont'), url('fonts/HeirofLightRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cafe24Font';
    src: local('Cafe24Font'), url('fonts/Cafe24Classic.ttf') format('truetype');
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
}



/* Index Page Styles */
body.index {
    font-family: 'HeirofLightFont';
    background-image: url('images/background-image.jpeg');
    position: relative;
}

body.index::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background-image.jpeg') no-repeat center center fixed; /* Set the background image */
    background-size: cover; /* This ensures the background image covers the entire container */
    filter: brightness(0.7); /* Adjust the value as needed */
    z-index: -1;
}

/* Laptop Page Styles */
body.laptop {
    font-family: 'Cafe24Font';
    background-image: url('images/laptop-background-image.png');
    position: relative;
}

body.laptop::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/laptop-background-image.png') no-repeat center center fixed; /* Set the background image */
    background-size: cover; /* This ensures the background image covers the entire container */
    filter: brightness(0.7); /* Adjust the value as needed */
    z-index: -1;
}

/* Header Styles */
header.index {
    font-family: 'HeirofLightFont';
    z-index: 1;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header.laptop {
    font-family: 'Cafe24Font';
    z-index: 1;
    color: #fff;
    padding: 1em;
}

/* Responsive Header Image */
header img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

/* Text Styles */
h1, h2, p, label {
    color: white;
    text-align: center;
}

/* Button Styles */
button {
    background-color: #555;
    color: #fff;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

/*
button:hover {
    background-color: #777;
}
*/

/* Navigation Styles */
body.index .nav {
    display: flex;
    justify-content: center;
}

.nav-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.nav-button:hover {
    background-color: #777;
    display: flex;
    justify-content: center;
}

body.index .nav-button img {
    width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.answer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

/* Footer Styles */
footer {
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Mobile Styles */
@media (max-width: 600px) {
    body.index::before,
    body.laptop::before {
        background-size: cover; /* Adjust the size property as needed */
    }

    .nav-button {
        font-size: 18px; /* Adjust the font size of the button */
    }
}

