@font-face {
    font-family: 'HeirofLightFont'; /* Choose a name for your font */
    src: local('HeirofLightFont'), url('fonts/HeirofLightRegular.ttf') format('truetype'); /* Adjust the font file path and format */
} 

@font-face {
    font-family: 'Cafe24Font';
    src: local('Cafe24Font'), url('fonts/Cafe24Classictype-v1.1.ttf') format('truetype');
}

body {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    margin: 0;
    padding: 0;
    /* transition: background-color 0.5s;*/ 
}

body.index {
    background-image: url('images/background-image.jpeg'); /* Adjust the filename and extension */
}

body.laptop {
    background-image: url('images/laptop-background-image.png'); /* Adjust the filename and extension */
    font-family: 'HeirofLightFont', 'Cafe24Font';
}

/*
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1; /* Place it behind other elements *
    background-image: url('images/background-image.jpeg'); /* Adjust the filename and extension *
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Adjust the blur strength *
}
*/


header {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    z-index: 1;
    ;color: #fff;
    padding: 1em;
    text-align: center;
}

button {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    background-color: #555;
    color: #fff;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

button:hover {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    background-color: #777;
}

body.index .nav {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
}

body.index .nav-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 30px;
    width: 80%; /* Adjust the width as needed */
    height: auto;
}

body.index .nav-button:hover{
    background-color: #777;
}

body.index .nav-button img {
    width: 80%; /* Make the image fill the width of the button */
    height: auto; /* Make the image fill the height of the button */
    
}

main {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    padding: 1em;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
}

footer {
    font-family: 'HeirofLightFont', 'Cafe24Font';
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header img {
    max-width: 100%; /* Ensure the logo is responsive */
    height: auto;    /* Maintain the aspect ratio */
    max-height: 80px; /* Set a maximum height, adjust as needed */
}

@media (max-width: 600px) {
    body.index .nav-button {
        width: 80px; /* Set a smaller width for mobile devices */
        height: 80px; /* Set a smaller height for mobile devices */
    }
}
